html, body {
	background:#232323;
}

h1 {
	font: bold 2.1em 'Source Sans Pro',Arial, Sans-Serif;
	text-align: left;
	color: white;
}

h2 {
	font: bold 1.1em 'Source Sans Pro',Arial, Sans-Serif;
}

div.section {
	padding: 1em;
	margin-bottom: 0;
	text-align: justify;

}

.more {
	background:#232323;
	color: white;
}

#plan a {
	color: #C41E3A;
}

#poem {
	height: 110px;
	background: white;
	text-align: center;
}